<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">  <!--тут важно поставить / вначале - /css -->
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">WELCOME TO YOUR'S TODO LIST</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li ><a href="/">TODAY'S LIST</a></li>
                <li ><a href="/views/ListsAll">ALL LISTS</a></li>
                <li ><a href="/views/About">ABOUT US</a></li>
        </ul>
      </div>
</nav>
</head>

<body>
