<%- include("partials/header") -%>
<div class="">
  <h1>This is the about page</h1>

  <p>jkhkjshjks dhfjkh sjkdfh sjkdf jksdfhjksfhjks dhjfk sjkdfjksdfhjkshdfjk sdjkf sjkdf jksd fjks djfkhsjkdf hsjkd fhs</p>
</div>


<%- include("partials/footer") -%>
